.syllabus{
    font-family: monospace;
    margin-right: auto;
    margin-left: auto;
}

th{
    background-color: aquamarine;
}

h1{
    font-family: monospace;
    background-color: aqua;
}